<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">

  <meta charset="utf-8">
  <title>The Tramps</title>
</head>
<body>

  <head>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pets">Pets List</a></li>
      <li><a href="/owners">Owners List</a></li>
    </ul>
  </head>
  <%= yield %>
</body>
</html>
