<h3>Fill Out Details Of New Pet Entry</h3>


<form action="/pets" method="post">

  <label for="name-field">Pet Name:</label>
  <input id= "name-field" type="text" name="pet_name" >
  <br>
  <br>
  <label for="type_field">Pet Type:</label>
  <!-- <div> -->
    <input type="radio" id="type_field" name="pet_type" value="cat"
    checked>
    <label for="cat">Cat</label>
  <!-- </div> -->
  <!-- <div> -->
    <input type="radio" id="type_field" name="pet_type" value="dog"

    checked>
    <label for="dog">Dog</label>
  <!-- </div> -->

  <br>
  <label for="admision_date-field">Admision Date:</label>
  <input type="date" id="admision_date-fiels" name="admision_date"
         min="2010-01-01" max="2018-12-18">


  <br>
  <label for="adoptable-field">Status:</label>
  <input id="adoptable-field" type="text" name="adoptable">

  <!-- <div> -->
    <input
    type="radio"
    id="adoptable-field"
    name="adoptable"
    value="For Adoption"
    checked>
    <label for="For Adoption">For Adoption</label>
  <!-- </div> -->

  <!-- <div> -->
    <input
    type="radio"
    id="adoptable-field"
    name="adoptable"
    value="Not Ready For Adoption"
    checked>
    <label for="Not Ready For Adoption">Not Ready For Adoption</label>
  <!-- </div> -->

  <br>
  <br>
  <input type="submit" value="Insert New Pet">
</form>
