<h3>Add the Details of the New Pet </h3>


<form action="/pets" method="post">

  <label for="name-field">Pet Name:</label>
  <input id= "name-field" type="text" name="pet_name" >
  <br>
  <br>
  <label for="type_field">Pet Type:</label>
  <!-- <div> -->
  <input type="radio" id="type_field" name="pet_type" value="cat"
  checked>
  <label for="cat">Cat</label>
  <!-- </div> -->
  <!-- <div> -->
  <input type="radio" id="type_field" name="pet_type" value="dog"

  checked>
  <label for="dog">Dog</label>
  <!-- </div> -->

  <br><br>
  <label for="admision_date-field">Admision Date:</label>
  <input type="date" id="admision_date-fiels" name="admision_date"
  min="2010-01-01" max="2018-12-20">


  <br><br>
  <label
  for="adoptable-field">
   Keep the pet in quarantine for the firs 7 days!</label>



  <br><br>
  <input type="submit" value="Add New Pet">
</form>
