<p>Use this form for modify the selected owner</p>


<form action="/owners/<%= @owner.id %>" method="post">

  <label for="owner-field"> Owner Name: </label>
  <input type="text" id="owner-field" name="name" value="<%=@owner.name%>" required >
  <input type="submit" value="Modify Owner">
</form>
