<h3>Fill Out Details Of New Owner Entry</h3>


<form action="/owners" method="post">

  <label for="owner-field">Owner Name:</label>
  <input id= "owner-field" type="text" name="name" >

  <input type="submit" value="Add New Owner">
</form>
